version: '3.4'

services:
  pg:
    image: postgres:13-alpine
    container_name: hasura-cron-testing_db
    network_mode: "host"
    volumes:
      - database-data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 5s
      retries: 5

  hasura:
    image: hasura/graphql-engine:v2.28.1.cli-migrations-v3
    container_name: hasura-cron-testing_hasura
    network_mode: "host"
    environment:
      HASURA_GRAPHQL_DATABASE_URL: "postgres://test:test@localhost:5432/test"
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_SERVER_PORT: 8080
      HASURA_GRAPHQL_MIGRATIONS_SERVER_TIMEOUT: 120
      BACKEND_BASE_URL: "http://localhost:3000"
    healthcheck:
      test: ["CMD-SHELL", "wget --quiet --spider http://localhost:8080/v1/version || exit 1"]
      interval: 1s
      start_period: 10s
      retries: 30
    depends_on:
      - pg

volumes:
  database-data:
